* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
nav {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color:aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;

}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 0 1.5rem;
}

nav a:hover {
    color: blanchedalmond;

}
.hero {
    background-color: black;

}

.hero-conte {
    display: block;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    
}
.column-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 0rem 2rem;
}

.column-mid h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
   

}

.column-mid p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    

}

.column-mid a {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.image-container {
    display: inline-block;
    margin-right: 10px;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Form input fields */
  .form-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Submit button */
  .btn-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
  }
  
  /* Submit button hover effect */
  .btn-dark:hover {
    background-color:  blanchedalmond;
    color: black;
  }
  
  /* Form labels */
  label {
    display: block;
    font-weight: bold;
  }
  
  /* Form row */
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  /* Form column */
  .col {
    flex: 1;
    margin-right: 10px;
  }
  
@media screen and (max-width:600px){
    .hero-conte{
        grid-template-columns: 1fr;
    }
    .nav {
        flex-direction: row; 
    }
    .form-row {
        flex-direction: column;
    }
    
    .col {
        margin-right: 0;
    }
}